{% extends 'base.html.twig' %}

{% block title %}
    Nouvelle catégorie
{% endblock %}

{% block body %}

<style>
input#category_name {
    margin-left:70px;
}
select#category_parent {
    margin-left:77px;
}
button#category_submit {
        margin-left:170px;
}
</style>

    <h1>Nouvelle catégorie</h1>
    {{ form(form) }}

{% endblock %}
